.element__like {
    background-image: url(../../../images/Vector3.svg);
    border: 0;
    width: 21px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: #ffffff;
    padding: 0;
    box-shadow: none;
}
.element__like:hover {
    cursor: pointer;
    opacity: 0.7;
}