.element__like-active {
    background-image: url(../../../images/heart-filled.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    width: 21px;
    height: 19px;

}