.popup__save {
    width: 358px;
    height: 50px;
    margin: 0;
    padding: 0;
    margin-top: 19px;
    background-color: #000000;
    border: none;
    text-align: center;
    color: #ffffff;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
  }
  
  .popup__save:hover {
    cursor: pointer;
    opacity: .8;
  }
  
  @media (max-width: 600px) {
    .popup__save {
      width: 246px;
    }
  }