.popup__save {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    margin-top: 48px;
    max-width: 358px;
    height: 50px;
    width: 100%;
    background: #000000;
    border-radius: 2px;
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
    text-align: center;    
    color: #FFFFFF;
}

.popup__save:hover {
    outline: none;
    background: rgba(0, 0, 0, 0.8);
    
}