.profile__activity {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #ffffff;
    max-width: 264px;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
}

@media (max-width: 900px) {
    .profile__activity {
      font-size: 14px;
      line-height: 1.21;
    }
  }
  
  @media (max-width: 600px) {
    .profile__activity {
      text-align: center;
    }
  }