.element__group {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-template-rows: 361px 361px;
    list-style: none;
    grid-column-gap: 18px;
    grid-row-gap: 21px;
    margin-left: auto;
    margin-right: auto;

}