@import url(./__text/footer__text.css);

.footer {
    max-width: 882px;
    margin: 0 auto 60px;

}
@media (max-width: 320px) {
    .footer {
        margin: 49px 19px 0;
        padding-bottom: 36px;
        max-width: 282px;

    }
}