@import url(./__image/element__image.css);
@import url(./__like/element__like.css);
@import url(./__other/element__other.css);
@import url(./__rectangle/element__rectangle.css);
@import url(./__text/element__text.css);
@import url(./__group/element__group.css);

.element {
    max-width: 882px;
    margin: 0 auto;
    margin-top: 51px;
    padding-bottom: 61px;


}
@media (max-width: 900px) {
    .element {
        max-width: 600px;
    }
}
@media (max-width: 599px){
    .element {
        max-width: 282px;
    }
}