.popup__text {
    width: 358px;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 9px;
    line-height: 1.21;
    color: #000000;
    margin-bottom: 29px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }
  
  @media (max-width: 600px) {
    .popup__text {
      width: 100%;
    }
  }